@charset "UTF-8";
:root {
  --container-width: 75rem;
  --gutter: 0.5rem;
  --color-black: #000;
  --color-light-black: #1a1a1a;
  --color-gray: gray;
  --color-dark-gray: #333333;
  --color-light-gray: #f5f5f5;
  --color-white: white;
  --color-wheat: wheat;
  --color-gold: #ffd700;
  --color-gold-gradient: linear-gradient(to bottom right, #ff9900, #ddff00);
  --color-yellow: yellow;
  --color-blue: #000080;
  --color-light-blue: #1d9bf0;
  --color-dark-blue: #0a66c2;
  --color-darker-blue: #143ce8;
  --color-red: #ff0000;
  --color-green: #03a696;
  --color-light-green: rgb(47, 220, 47);
  --color-cyan: #00ffff;
  --color-purple: #864cff;
  --color-dark-purple: #4b0cd1;
  --color-very-dark-purple: #0a0b42;
  --color-dark-white: #6a6363;
  --color-green-gradient: linear-gradient(to bottom right, #b6dcd4, #216255);
  --color-grey: #f6f6f6;
  --color-dark-green: #42959b;
  --color-background: var(--color-wheat);
  --color-text: var(--color-black);
  --color-box-img: var(--color-black);
  --color-link-bg: var(--color-black);
  --color-input-border: var(--color-black);
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
  --font-family-amiri: "Amiri Quran", serif;
  --font-family-amiri-normal: "Amiri", serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-48: 4.8rem;
  --font-size-40: 4rem;
  --font-size-38: 3.8rem;
  --font-size-32: 3.2rem;
  --font-size-28: 2.8rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-16: 1.6rem;
  --font-size-15: 1.5rem;
  --font-size-14: 1.4rem;
  --font-size-12: 1.2rem;
  --transition-timing: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

form,
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family-amiri-normal);
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
}

/* scroll */
/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background: orange;
  background-color: var(--color-gold);
  /* background: #f1f1f1;  */
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem; /* Slightly rounded corners */
  background: orange;
}

/* scroll */
.video__loop {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.08;
}

.section {
  margin: 0 0 7rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
  transform: translateY(1rem);
  transition: all 1s ease-in-out;
}

.h2__heading {
  text-align: center;
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-bold);
  grid-column: 1/-1;
  text-transform: uppercase;
}

.h3__heading {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2rem;
  text-align: left;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

ul,
ol {
  list-style: none;
}

@keyframes jump {
  0% {
    transform: translateY(0.2rem);
  }
  35% {
    transform: translateY(-0.2rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jump-4 {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10%) scale(1);
  }
}
html:has(.toggle__checkbox:checked) {
  --color-background: var(--color-black);
  --color-text: var(--color-wheat);
  --color-box-img: var(--color-gold);
  --color-link-bg: var(--color-green);
  --color-grey: #080808;
  --color-input-border: var(--color-gold);
  --color-green-gradient: linear-gradient(to bottom right, #2642a5, #61cce9);
}
html:has(.toggle__checkbox:checked) ::-webkit-scrollbar-track {
  background: #333; /* Dark gray background color in dark mode */
}
html:has(.toggle__checkbox:checked) ::-webkit-scrollbar-thumb {
  background: #666; /* Darker gray color for scrollbar thumb in dark mode */
}
html:has(.toggle__checkbox:checked) .bio__title {
  color: var(--color-gold);
  background-image: linear-gradient(to right, #ffd700, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Hide original text */
  background-clip: text;
  color: transparent;
}
html:has(.toggle__checkbox:checked) .card {
  background: var(--color-light-black);
  box-shadow: 0 0.4rem 0.8rem rgba(169, 166, 166, 0.1);
}
html:has(.toggle__checkbox:checked) .skills__item,
html:has(.toggle__checkbox:checked) .skills__downloads,
html:has(.toggle__checkbox:checked) .calendar {
  box-shadow: 0 0.4rem 0.8rem rgba(169, 166, 166, 0.1);
  background-color: var(--color-light-black);
}
html:has(.toggle__checkbox:checked) .skills__title {
  color: var(--color-gold);
}
html:has(.toggle__checkbox:checked) .progress-line-container {
  background-color: wheat;
  background-color: #333; /* Dark gray background color */
}
html:has(.toggle__checkbox:checked) .progress-line {
  background-color: var(--color-gold); /* Progress line color */
  background-color: orange;
  background-color: #4caf50; /* Green progress line color */
}

.header {
  position: sticky;
  top: 0;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
  z-index: 2;
  max-width: 1300px;
  margin: 0 auto;
}

.header::before {
  content: "";
  position: absolute;
  border-bottom: 0.1rem solid var(--color-input-border);
  width: 100vw;
  height: 100%;
  top: 0;
  background-color: var(--color-background);
  z-index: -1;
}

.navigation {
  transition: var(--transition-timing);
}

.navigation__list {
  display: flex;
  gap: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-semi-bold);
}

.navigation__link:hover,
.navigation__link:active {
  text-decoration: underline;
  color: var(--color-light-blue);
}

.container:has(.login:target) .navigation__login,
.container:has(.bio:target) .navigation__bio,
.container:has(.skills:target) .navigation__skills,
.container:has(.add_skill:target) .add_skill,
.container:has(.remove_skill:target) .remove_skill,
.container:has(.contact:target) .navigation__contact {
  color: var(--color-light-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.burger-menu__checkbox {
  display: none;
}

.toggle {
  display: flex;
  gap: 1rem;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.toggle__title {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-15);
}

.toggle__checkbox {
  display: none;
}

.toggle__label {
  position: relative;
  display: block;
  background-color: var(--color-black);
  border-radius: 4.5rem;
  width: 2.7rem;
  height: 1.5rem;
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  transition: var(--transition-timing);
}

.toggle__label::before {
  content: "";
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  display: block;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: var(--transition-timing);
}

.toggle__checkbox:checked + .toggle__label {
  background-color: var(--color-white);
}

.toggle__checkbox:checked + .toggle__label::before {
  transform: translateX(-1.1rem);
  background-color: var(--color-green);
}

.in-view {
  opacity: 1;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-bold);
  overflow: hidden;
  opacity: 0;
  transform: translateY(-8rem);
  margin-top: 5rem;
}

.visible {
  opacity: 1;
  transform: translateY(-2rem);
  transition: 3s;
}
@media (max-width: 700px) {
  .visible {
    transform: translateY(4rem);
    row-gap: 6rem;
  }
}

.bio__heading {
  font-size: var(--font-size-22);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1rem;
}

.bio__title {
  color: var(--color-blue);
  font-size: var(--font-size-38);
  font-family: var(--font-family-amiri);
  text-align: center;
  font-weight: var(--font-weight-medium);
}

@media (max-width: 700px) {
  .dynamic__text {
    margin: 2rem;
  }
}

.bio__links {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-16);
  text-decoration: none;
  color: var(--color-text);
}

.bio__links:hover {
  text-decoration: underline;
}

.bio__arrow {
  display: inline-block;
  animation: jump 1s infinite alternate ease-in-out;
}

.contact__social {
  transition: var(--transition-timing);
  width: 2.5rem;
  animation: jump-4 1s infinite alternate ease-in-out;
  padding: 0 0.2rem;
}

.contact__social:hover {
  transform: scale(1.2);
}

/* PROGRESS LINE */
.progress-line-container {
  position: sticky; /* Change from fixed to sticky */
  top: 5.3rem; /* Adjust according to your header height */
  left: 0;
  width: 100%;
  height: 0.5rem; /* Adjust height as needed */
  background-color: #f0f0f0; /* Light gray background color */
  border-radius: 5px; /* Rounded corners */
  z-index: 2; /* Ensure it's above the content but below the header */
}

.progress-line {
  height: 100%;
  background-color: #007bff; /* Blue progress line color */
  border-radius: 5px; /* Rounded corners */
  transition: width 1s ease; /* Smooth transition of width over 0.5 seconds */
}

/* End of PROGRESS LINE */
#skills {
  grid-template-columns: 1fr;
  margin: 0 auto 10rem auto;
  max-width: 1000px;
}

.skills {
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;
}

.skills__item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: var(--transition-timing);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: var(--color-background);
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 0.6rem transparent;
  transition: text-shadow 0.5s;
}

.skills__item:hover {
  text-shadow: 0 0 0.2rem var(--color-green);
  transition: 1s;
}

.skill-active {
  width: 100%;
  background: var(--color-green-gradient);
  border-radius: 1rem;
  transition: 1s;
}

.skills__title {
  color: var(--color-blue);
  font-family: var(--font-family-amiri);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-semi-bold);
}

.skills__years {
  display: inline-block;
  font-size: var(--font-size-14);
  text-align: center;
}

.skills__state {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: var(--font-size-14);
}

.skills__state-item {
  border-radius: 50%;
  padding: 0.8rem 0.8rem 0 0.8rem;
  background-color: wheat;
  font-size: var(--font-size-14);
}

/* .skills__state-done:hover {
  background-color: rgb(182, 248, 83);
}
 .skills__state-notDone:hover {
  background-color: #f76363;
}
.skills__state-circle:hover {
  background-color: #976df1;
}  */
.done-clicked {
  background-color: var(--color-light-green);
}

.circle-clicked {
  background-color: var(--color-purple);
}

.not-done-clicked {
  background-color: var(--color-red);
}

.delete-icon {
  margin-left: 27%;
  width: 25px;
  cursor: pointer;
  position: absolute;
}

.skills__filters {
  grid-column: 1/-1;
  margin: 0 0 3rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.skills__button {
  border: 0.01rem solid var(--color-text);
  border-radius: 0.4rem;
  padding: 0.2rem 1rem;
  color: var(--color-text);
}

.skills__button--isActive {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  color: var(--color-background);
}

.skills__list.الصلاة li:not([data-type=الصلاة]) {
  display: none;
}

.skills__list.الذكر li:not([data-type=الذكر]) {
  display: none;
}

.skills__list.القرآن li:not([data-type=القرآن]) {
  display: none;
}

.skills__list.الدعاء li:not([data-type=الدعاء]) {
  display: none;
}

.skills__list.الصيام li:not([data-type=الصيام]) {
  display: none;
}

.skills__list.غيره li:not([data-type=غيره]) {
  display: none;
}

.skills__downloads {
  position: absolute;
  top: 5rem; /* Adjust the top distance as needed */
  right: 2rem; /* Adjust the right distance as needed */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: var(--transition-timing);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: var(--color-background);
  font-size: var(--font-size-14);
}

.skills__downloads button {
  color: var(--color-text);
  padding: 1rem;
}

/* Alert Styling */
@keyframes slideDown {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(80%);
    opacity: 1;
  }
}
.confirm-dialog {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 20rem;
  font-size: 1.2rem;
  z-index: 1000;
}

.confirm-dialog p {
  margin-bottom: 10px;
}

.confirm-dialog button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-dialog button.cancel {
  background-color: #ccc;
  margin-right: 10px;
}

.alert {
  position: fixed;
  top: -3rem;
  left: 40%;
  text-align: center;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 20rem;
  font-size: 1.2rem;
  z-index: 1000;
  animation: slideDown 3s ease;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-deletion {
  background-color: #f7ced2;
  color: var(--color-red);
}

.alert-done {
  background-color: #b7ecac;
  color: green;
}

.alert-circle {
  background-color: #e1c3f3;
  color: var(--color-dark-purple);
}

/* /End Alert Styling */
.say-hi-link,
.card__button {
  background-color: rgba(76, 175, 79, 0.6196078431);
  border: none;
  color: var(--color-white);
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 0.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  z-index: 1;
  margin-top: 1rem;
}

.say-hi-link:hover,
.card__button:hover {
  background-color: #45a049;
}

.say-hi-link:active:hover,
.card__button:active:hover {
  background-color: #005f7f;
}

.say-hi-link:active,
.back__button:active,
.card__button:active {
  transform: scale(0.98);
  transform: translateY(0.2rem);
}

.back__button {
  background-color: inherit;
  border: 1px solid rgba(128, 128, 128, 0.842);
  color: rgba(128, 128, 128, 0.842);
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 0.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  z-index: 1;
  margin-top: 1rem;
}

.back__button:hover {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  text-decoration: underline;
}

.add-skill {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
}

.visible {
  opacity: 1;
  transform: translateY(0rem);
  transition: 3s;
}
@media (max-width: 700px) {
  .visible {
    transform: translateY(0rem);
    row-gap: 6rem;
  }
}

.card {
  width: 100%;
  padding: 3rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 8rem;
}

.card-register {
  padding: 1rem 3rem;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
}

.card-login {
  padding: 2.8rem 3rem;
  row-gap: 2rem;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
}

.card__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.card__inputContainer {
  flex: 1;
}

.card__label {
  display: block;
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--color-gray);
  margin-bottom: 1rem;
}

.card__input {
  padding: 1rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 1rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: var(--font-weight-bold);
  outline: none;
  transition: all 0.3s;
}

.input__type {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.card__input:focus {
  /* Border color when focused */
  border: 2px solid var(--color-purple);
  transition: 1s;
}

.card__input:not(:focus):not(:placeholder-shown) {
  /* Border color when blurred and input has content */
  border: 2px solid var(--color-green);
  transition: 1s;
  /* Green border color if input has content */
}

.card__input:not(:focus):placeholder-shown {
  border-color: var(--color-red);
}

.card__input--error {
  border-color: var(--color-red);
}

.card__errorMessage {
  display: block;
  font-size: 1rem;
  font-style: italic;
  color: var(--color-red);
  margin-top: 0.5rem;
  font-weight: var(--font-weight-regular);
  opacity: 0;
  visibility: hidden;
}

.card__input--error + .card__errorMessage {
  opacity: 1;
  visibility: visible;
}

.card__separator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 2rem 0;
  gap: 1rem;
}

.card__separator:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  opacity: 0.5;
  top: 0;
  background: var(--color-dark-white);
  z-index: -1;
}

form {
  display: grid;
  gap: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
}

.visible {
  opacity: 1;
  transform: translateY(0rem);
  transition: 3s;
}
@media (max-width: 700px) {
  .visible {
    transform: translateY(0rem);
    row-gap: 6rem;
  }
}

.contact__description {
  font-size: var(--font-size-14);
  line-height: 1.8;
}

.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 1.5rem 0;
}

.contact__social {
  transition: var(--transition-timing);
  width: 2.5rem;
  animation: jump-4 1s infinite alternate ease-in-out;
  padding: 0 0.2rem;
}

.contact__social:hover {
  transform: scale(1.2);
}

.contact__inputs {
  flex-direction: row;
  display: flex;
  gap: 2rem;
}

.contact__input {
  border: 0;
  outline: 0;
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.1rem solid var(--color-input-border);
  color: var(--color-gray);
}

.border-bottom-input {
  border-bottom: 0.1rem solid var(--color-green);
}

.contact__textarea {
  width: 100%;
}

.contact__button {
  border: 0;
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 0.6rem 1.1rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  margin: 3rem 0;
  cursor: pointer;
  border-radius: 0.03rem;
}

@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
  .navigation {
    font-size: var(--font-size-16);
  }
  .section {
    grid-template-columns: 1fr;
  }
  .login_section {
    flex-direction: column;
    padding: 2rem;
  }
  .card-register,
  .card-login {
    padding: 1rem 2rem;
  }
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1rem;
    gap: 2rem;
  }
  .skills__button {
    font-size: var(--font-size-12);
  }
  .delete-icon {
    margin-left: 42%;
    width: 20px;
  }
  .contact {
    row-gap: 2rem;
  }
  .contact__inputs {
    flex-direction: column;
  }
  .contact__contactForm {
    order: -1;
  }
}
/* Adjustments for responsiveness */
@media screen and (max-width: 768px) {
  .section {
    margin-top: 5rem;
  }
  .skills__downloads {
    top: 70px;
    right: 10px;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 1.5rem;
  }
  .header::before {
    z-index: 0;
  }
  /* PROGRESS LINE */
  .progress-line-container {
    top: 8.2rem;
  }
  /* // PROGRESS LINE */
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.4rem;
    z-index: 0;
    align-self: center;
  }
  .burger-menu__bar {
    width: 2.5rem;
    height: 0.3rem;
    background-color: var(--color-text);
    transition: var(--transition-timing);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(8px) rotate(40deg);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-3px) rotate(-40deg);
  }
  .burger-menu__checkbox:checked + .navigation {
    top: 100%;
  }
  .navigation {
    position: absolute;
    width: 100vw;
    background-color: var(--color-background);
    top: 0;
    font-size: var(--font-size-12);
    padding: 1.5rem 0;
    border-bottom: 0.1rem solid var(--color-text);
    z-index: -1;
  }
  .navigation__list {
    justify-content: center;
  }
  .toggle {
    padding: 1.5rem 0;
    z-index: 1;
  }
  .delete-icon {
    margin-left: 38%;
    width: 17px;
  }
  .alert {
    left: 30%;
  }
} 
@media (min-width: 1000px) {
  .calendar {
    position: absolute;
    top: 10rem;
    left: 5rem;
    z-index: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: var(--transition-timing);
    background-color: var(--color-background);
    font-size: var(--font-size-14);
  }
}
.footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 0.8rem;
  text-align: center;
  border-top: 0.01rem solid var(--color-box-img);
  background-color: var(--color-background);
}

.footer__author {
  color: var(--color-dark-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-16);
  margin: 0.2rem 0;
}/*# sourceMappingURL=style.css.map */