.say-hi-link,
.card__button {
  background-color: rgba(76, 175, 79, 0.6196078431);
  border: none;
  color: var(--color-white);
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 0.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  z-index: 1;
  margin-top: 1rem;
}

.say-hi-link:hover,
.card__button:hover {
  background-color: #45a049;
}

.say-hi-link:active:hover,
.card__button:active:hover {
  background-color: #005f7f;
}

.say-hi-link:active,
.back__button:active,
.card__button:active {
  transform: scale(0.98);
  transform: translateY(0.2rem);
}

.back__button {
  background-color: inherit;
  border: 1px solid rgba(128, 128, 128, 0.842);
  color: rgba(128, 128, 128, 0.842);
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 0.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  z-index: 1;
  margin-top: 1rem;
}

.back__button:hover {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  text-decoration: underline;
}

.add-skill {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
}

.visible {
  opacity: 1;
  transform: translateY(0rem);
  transition: 3s;
}
@media (max-width: 700px) {
  .visible {
    transform: translateY(0rem);
    row-gap: 6rem;
  }
}

.card {
  width: 100%;
  padding: 3rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 8rem;
}

.card-register {
  padding: 1rem 3rem;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
}

.card-login {
  padding: 2.8rem 3rem;
  row-gap: 2rem;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
}

.card__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.card__inputContainer {
  flex: 1;
}

.card__label {
  display: block;
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--color-gray);
  margin-bottom: 1rem;
}

.card__input {
  padding: 1rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 1rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: var(--font-weight-bold);
  outline: none;
  transition: all 0.3s;
}

.input__type {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.card__input:focus {
  /* Border color when focused */
  border: 2px solid var(--color-purple);
  transition: 1s;
}

.card__input:not(:focus):not(:placeholder-shown) {
  /* Border color when blurred and input has content */
  border: 2px solid var(--color-green);
  transition: 1s;
  /* Green border color if input has content */
}

.card__input:not(:focus):placeholder-shown {
  border-color: var(--color-red);
}

.card__input--error {
  border-color: var(--color-red);
}

.card__errorMessage {
  display: block;
  font-size: 1rem;
  font-style: italic;
  color: var(--color-red);
  margin-top: 0.5rem;
  font-weight: var(--font-weight-regular);
  opacity: 0;
  visibility: hidden;
}

.card__input--error + .card__errorMessage {
  opacity: 1;
  visibility: visible;
}

.card__separator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 2rem 0;
  gap: 1rem;
}

.card__separator:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  opacity: 0.5;
  top: 0;
  background: var(--color-dark-white);
  z-index: -1;
}/*# sourceMappingURL=add-skill.css.map */