:root {
  --container-width: 75rem;
  --gutter: 0.5rem;
  --color-black: #000;
  --color-background-dark: #282c34;
  --color-light-black: #1a1a1a;
  --color-gray: gray;
  --color-dark-gray: #333333;
  --color-light-gray: #f5f5f5;
  --color-white: white;
  --color-wheat: wheat;
  --color-gold: #ffd700;
  --color-gold-gradient: linear-gradient(to bottom right, #ff9900, #ddff00);
  --color-yellow: yellow;
  --color-blue: #000080;
  --color-light-blue: #1d9bf0;
  --color-dark-blue: #0a66c2;
  --color-darker-blue: #143ce8;
  --color-red: #ff0000;
  --color-green: #03a696;
  --color-light-green: rgb(47, 220, 47);
  --color-cyan: #00ffff;
  --color-purple: #864cff;
  --color-dark-purple: #4b0cd1;
  --color-very-dark-purple: #0a0b42;
  --color-dark-white: #6a6363;
  --color-green-gradient: linear-gradient(to bottom right, #b6dcd4, #216255);
  --color-grey: #f6f6f6;
  --color-dark-green: #42959b;
  --color-background: var(--color-wheat);
  --color-text: var(--color-black);
  --color-box-img: var(--color-black);
  --color-link-bg: var(--color-black);
  --color-input-border: var(--color-black);
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
  --font-family-amiri: "Amiri Quran", serif;
  --font-family-amiri-normal: "Amiri", serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-48: 4.8rem;
  --font-size-40: 4rem;
  --font-size-38: 3.8rem;
  --font-size-32: 3.2rem;
  --font-size-28: 2.8rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-16: 1.6rem;
  --font-size-15: 1.5rem;
  --font-size-14: 1.4rem;
  --font-size-12: 1.2rem;
  --transition-timing: 0.3s;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
form,
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family-amiri-normal);
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
}
/* scroll */
/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background: orange;
  background-color: var(--color-gold);
  /* background: #f1f1f1;  */
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem; /* Slightly rounded corners */
  background: orange;
}

/* scroll */
.video__loop {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.08;
}
.section {
  margin: 0 0 7rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
  transform: translateY(1rem);
  transition: all 1s ease-in-out;
}

.h2__heading {
  text-align: center;
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-bold);
  grid-column: 1/-1;
  // margin-bottom: 3rem;
  text-transform: uppercase;
}
.h3__heading {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2rem;
  text-align: left;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
ul,
ol {
  list-style: none;
}

@keyframes jump {
  0% {
    transform: translateY(0.2rem);
  }
  35% {
    transform: translateY(-0.2rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jump-4 {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10%) scale(1);
  }
}

html:has(.toggle__checkbox:checked) {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-wheat);
  --color-box-img: var(--color-gold);
  --color-link-bg: var(--color-green);
  --color-grey: #080808;
  --color-input-border: var(--color-gold);
  --color-green-gradient: linear-gradient(to bottom right, #2642a5, #61cce9);
  ::-webkit-scrollbar-track {
    background: #333;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
  }

  .bio__title {
    color: var(--color-gold);
    background-image: linear-gradient(to right, #ffd700, #ff9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  .card {
    background: var(--color-light-black);
    box-shadow: 0 0.4rem 0.8rem rgba(169, 166, 166, 0.1);
  }
  .skills__item,
  .skills__downloads,
  .calendar {
    box-shadow: 0 0.4rem 0.8rem rgba(169, 166, 166, 0.1);
    background-color: var(--color-light-black);
  }
  .skills__title {
    color: var(--color-gold);
  }
  .progress-line-container {
    background-color: wheat;
    background-color: #333; /* Dark gray background color */
  }
  .progress-line {
    background-color: var(--color-gold); /* Progress line color */
    background-color: orange;
    background-color: #4caf50; /* Green progress line color */
  }
}
