/* PROGRESS LINE */
.progress-line-container {
  position: sticky; /* Change from fixed to sticky */
  top: 5.3rem; /* Adjust according to your header height */
  left: 0;
  width: 100%;
  height: 0.5rem; /* Adjust height as needed */
  background-color: #f0f0f0; /* Light gray background color */
  border-radius: 5px; /* Rounded corners */
  z-index: 2; /* Ensure it's above the content but below the header */
}

.progress-line {
  height: 100%;
  background-color: #007bff; /* Blue progress line color */
  border-radius: 5px; /* Rounded corners */
  transition: width 1s ease; /* Smooth transition of width over 0.5 seconds */
}
