@charset "UTF-8";
/* PROGRESS LINE */
.progress-line-container {
  position: sticky; /* Change from fixed to sticky */
  top: 5.3rem; /* Adjust according to your header height */
  left: 0;
  width: 100%;
  height: 0.5rem; /* Adjust height as needed */
  background-color: #f0f0f0; /* Light gray background color */
  border-radius: 5px; /* Rounded corners */
  z-index: 2; /* Ensure it's above the content but below the header */
}

.progress-line {
  height: 100%;
  background-color: #007bff; /* Blue progress line color */
  border-radius: 5px; /* Rounded corners */
  transition: width 1s ease; /* Smooth transition of width over 0.5 seconds */
}

/* End of PROGRESS LINE */
#skills {
  grid-template-columns: 1fr;
  margin: 0 auto 10rem auto;
  max-width: 1000px;
}

.skills {
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;
}

.skills__item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: var(--transition-timing);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: var(--color-background);
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 0.6rem transparent;
  transition: text-shadow 0.5s;
}

.skills__item:hover {
  text-shadow: 0 0 0.2rem var(--color-green);
  transition: 1s;
}

.skill-active {
  width: 100%;
  background: var(--color-green-gradient);
  border-radius: 1rem;
  transition: 1s;
}

.skills__title {
  color: var(--color-blue);
  font-family: var(--font-family-amiri);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-semi-bold);
}

.skills__years {
  display: inline-block;
  font-size: var(--font-size-14);
  text-align: center;
}

.skills__state {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: var(--font-size-14);
}

.skills__state-item {
  border-radius: 50%;
  padding: 0.8rem 0.8rem 0 0.8rem;
  background-color: wheat;
  font-size: var(--font-size-14);
}

/* .skills__state-done:hover {
  background-color: rgb(182, 248, 83);
}
 .skills__state-notDone:hover {
  background-color: #f76363;
}
.skills__state-circle:hover {
  background-color: #976df1;
}  */
.done-clicked {
  background-color: var(--color-light-green);
}

.circle-clicked {
  background-color: var(--color-purple);
}

.not-done-clicked {
  background-color: var(--color-red);
}

.delete-icon {
  margin-left: 27%;
  width: 25px;
  cursor: pointer;
  position: absolute;
}

.skills__filters {
  grid-column: 1/-1;
  margin: 0 0 3rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.skills__button {
  border: 0.01rem solid var(--color-text);
  border-radius: 0.4rem;
  padding: 0.2rem 1rem;
  color: var(--color-text);
}

.skills__button--isActive {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  color: var(--color-background);
}

.skills__list.الصلاة li:not([data-type=الصلاة]) {
  display: none;
}

.skills__list.الذكر li:not([data-type=الذكر]) {
  display: none;
}

.skills__list.القرآن li:not([data-type=القرآن]) {
  display: none;
}

.skills__list.الدعاء li:not([data-type=الدعاء]) {
  display: none;
}

.skills__list.الصيام li:not([data-type=الصيام]) {
  display: none;
}

.skills__list.التعلم li:not([data-type=التعلم]) {
  display: none;
}

.skills__list.غيره li:not([data-type=غيره]) {
  display: none;
}

.skills__downloads {
  position: absolute;
  top: 5rem; /* Adjust the top distance as needed */
  right: 2rem; /* Adjust the right distance as needed */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: var(--transition-timing);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: var(--color-background);
  font-size: var(--font-size-14);
}

.skills__downloads button {
  color: var(--color-text);
  padding: 1rem;
}

/* Alert Styling */
@keyframes slideDown {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(80%);
    opacity: 1;
  }
}
.confirm-dialog {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 20rem;
  font-size: 1.2rem;
  z-index: 1000;
}

.confirm-dialog p {
  margin-bottom: 10px;
}

.confirm-dialog button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-dialog button.cancel {
  background-color: #ccc;
  margin-right: 10px;
}

.alert {
  position: fixed;
  top: -3rem;
  left: 40%;
  text-align: center;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 20rem;
  font-size: 1.2rem;
  z-index: 1000;
  animation: slideDown 3s ease;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-deletion {
  background-color: #f7ced2;
  color: var(--color-red);
}

.alert-done {
  background-color: #b7ecac;
  color: green;
}

.alert-circle {
  background-color: #e1c3f3;
  color: var(--color-dark-purple);
}

/* /End Alert Styling *//*# sourceMappingURL=skills.css.map */